<script src="https://www.google.com/jsapi"></script>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<h1>Moyenne de prix d'une action par mois</h1>
</br></br>
<%
b = 4000
buy = 0
@profit = []
@sell = 0
i = 0
a = []
12.times do
a .push(rand(3500...4500))
end

a.each do |value|
if buy != 0 && value > buy
    @sell += (value - buy)
    @profit.push (value - buy)
    buy = 0
    i -=1
else
    @profit.push (0)
end
if b > value && i != 1 && value != 12
    buy = value
    i +=1
end
end
%>

<%=
area_chart [
    ["Janvier", a[0]],
    ["Février", a[1]],
    ["Mars", a[2]],
    ["Avril", a[3]],
    ["Mai", a[4]],
    ["Juin", a[5]],
    ["Juillet", a[6]],
    ["Aout", a[7]],
    ["Septembre", a[8]],
    ["Octobre", a[9]],
    ["Novembre", a[10]],
    ["Décembre", a[11]]
] %>

<p align="middle">Vous avez gagné <%= @sell.inspect %> euros durant cette année.</p>
<h1>Total des bénéfices par mois</h1>
</br></br>
<%= column_chart  [
    ["Janvier", @profit[0]],
    ["Février", @profit[1]],
    ["Mars", @profit[2]],
    ["Avril", @profit[3]],
    ["Mai", @profit[4]],
    ["Juin", @profit[5]],
    ["Juillet", @profit[6]],
    ["Aout", @profit[7]],
    ["Septembre", @profit[8]],
    ["Octobre", @profit[9]],
    ["Novembre", @profit[10]],
    ["Décembre", @profit[11]]
] %>
